#### Welcome to assignment on Python Programming. In this assignment you are supposed to process/read/work on a file name “Employee.csv”. Which contain employee information of an organization. Following information’s are available for each employee:
•	EID – Employee ID
•	Employee Name
•	Gender
•	Salary
•	Date of Joining
#### In this assignment you are supposed to write functions for following objective:
•	Given an employee id, greet them with their first name.
o	Input : E123D
o	Output :“Hello, Mr Nitin”
•	Function for calculating the average salary of each department.
•	Given an Employee id, display respective employees Name, Data of Joining and Department.
o	Input : E123D
o	Output : Nitin Bhole | 01-11-2016 | Products
•	Function for sorting employees from Oldest to Newest.

In [1]:
import pandas as pd
df = pd.read_csv("../PythonProg/employee.csv")

In [2]:
df

      EID      Employee Name Gender   Salary Date of Joining   Department
0   E123D        Nitin Bhole      M  1900000      01-11-2016     Products
1   E876G     Mayur Kulkarni      M  1200000      03-06-2016    Semantics
2   E798G      Anurag Pandey      M  1200000      04-07-2016           IT
3   E123B      Pankaj Bansal      M   900000      01-12-2015     Research
4   E098Z    Rajendra Prabhu      M  1000000      11-11-2015    Semantics
5   E294M     Sumanth Mishra      M  1800000      04-09-2017     Research
6   E972L          Sai Bodha      M  1100000      11-11-2017    Semantics
7   E184A  Kushmakar Krishna      M  1100000      01-01-2015     Products
8   E104S     Amarnath Patil      M   600000      29-11-2015  Engineering
9   E093V   Shashidhar Reddy      M   700000      29-11-2018  Engineering
10  E983Q     Chakshu Bansal      F   300000      04-12-2017     Products
11  E092E       Mitali Gupta      F  1600000      02-05-2019    Semantics
12  E620Y     Kumar Abhishek      M  1100000      01-12-2014    Semantics
13  E109U     Sanket Gibbidi      M  5000000      11-01-2019     Products

In [6]:
def greet_employee(employee_id):
    # Search for the employee by EID
    employee = df[df['EID'] == employee_id]
    if not employee.empty:
       # Extract employee details
        name = employee.iloc[0]['Employee Name']
        gender = employee.iloc[0]['Gender']
        # Determine greeting based on gender
        if gender == 'M':
            greeting = f"Hello, Mr {name}"
        else:
            greeting = f"Hello, Ms {name}"
        
        # Output the greeting
        print(greeting)
    else:
        print("Employee not found.")


greet_employee("E123D")

Hello, Mr Nitin Bhole

In [7]:
greet_employee("E294M")

Hello, Mr Sumanth Mishra

In [8]:
def calculate_average_salary_by_department(df):
    # Group by 'Department' and calculate the mean salary
    avg_salary = df.groupby('Department')['Salary'].mean()
    return avg_salary

# Example usage
average_salaries = calculate_average_salary_by_department(df)
print("Average Salary by Department:")
print(average_salaries)

Average Salary by Department:
Department
Engineering     650000.0
IT             1200000.0
Products       2075000.0
Research       1350000.0
Semantics      1200000.0
Name: Salary, dtype: float64

In [11]:
def display_employee_details(employee_id, df):
    # Search for the employee by EID
    employee = df[df['EID'] == employee_id]
    
    # Check if the employee is found
    if not employee.empty:
        # Extract relevant information
        name = employee.iloc[0]['Employee Name']
        date_of_joining = employee.iloc[0]['Date of Joining']
        department = employee.iloc[0]['Department']
        
        # Display employee details
        print(f"{name} | {date_of_joining} | {department}")
    else:
        print("Employee not found.")

# Example usage
display_employee_details("E123D", df)

Nitin Bhole | 01-11-2016 | Products

In [10]:
def sort_employees_by_joining_date(df):
    # Sort by 'Date of Joining' column in ascending order
    sorted_df = df.sort_values(by='Date of Joining', ascending=True)
    return sorted_df[['EID', 'Employee Name', 'Date of Joining', 'Department']]

# Example usage
sorted_employees = sort_employees_by_joining_date(df)
print("Employees sorted from oldest to newest:")
print(sorted_employees)

Employees sorted from oldest to newest:
      EID      Employee Name Date of Joining   Department
7   E184A  Kushmakar Krishna      01-01-2015     Products
0   E123D        Nitin Bhole      01-11-2016     Products
12  E620Y     Kumar Abhishek      01-12-2014    Semantics
3   E123B      Pankaj Bansal      01-12-2015     Research
11  E092E       Mitali Gupta      02-05-2019    Semantics
1   E876G     Mayur Kulkarni      03-06-2016    Semantics
2   E798G      Anurag Pandey      04-07-2016           IT
5   E294M     Sumanth Mishra      04-09-2017     Research
10  E983Q     Chakshu Bansal      04-12-2017     Products
13  E109U     Sanket Gibbidi      11-01-2019     Products
4   E098Z    Rajendra Prabhu      11-11-2015    Semantics
6   E972L          Sai Bodha      11-11-2017    Semantics
8   E104S     Amarnath Patil      29-11-2015  Engineering
9   E093V   Shashidhar Reddy      29-11-2018  Engineering